<h2>data-scraper encountered an error</h2>

<p>error: <%= @error.message %></p>
<p>trace: <%= @error.backtrace.inspect %></p>

<p>You may access all current data snapshots <a href="<%= root_url %>">here</a></p>